.runtime-utils-logs {
    flex: 0 1 auto;
    min-height: 0;
    max-width: 98%;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    white-space: pre-wrap;
    word-break: break-word;
}

.runtime-utils-logs > code {
    flex-shrink: 0;
}
