@page "/bot-update"
@attribute [Authorize(Policy = "Admin")]
@inject DiscordSocketClient discord
@inject IHttpContextAccessor httpContextAccessor
@inject IJSRuntime jsRuntime

<button class="btn-warning" @onclick="OnBotUpdateAsync">
    <span class="oi oi-loop-circular" aria-hidden="true"></span> Update
</button>

@code
{
    async Task OnBotUpdateAsync()
    {
        bool confirmed = await jsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
        if (confirmed)
        {
            Program.StartUpdate();
        }
    }
}
