@page "/ironman"
@inject DiscordSocketClient discord
@inject IronmanDataService ironmanData
@implements IDisposable

@if (_latestData.Tier is null)
{
    <div>Refreshing ...</div>
}
else
{
    <div>Current rank: @_latestData.Tier, @_latestData.RankInTier RR</div>
}

@code
{
    private readonly CancellationTokenSource _cts = new();
    IronmanDataService.ValorantStatus _latestData;

    protected override void OnInitialized()
    {
        _latestData = ironmanData.TryGetValorantRank();

        Task.Run(async () =>
        {
            var timer = new PeriodicTimer(TimeSpan.FromSeconds(30));
            do
            {
                try
                {
                    _latestData = await ironmanData.GetValorantRankAsync(_cts.Token);
                    _ = InvokeAsync(StateHasChanged);
                }
                catch { break; }
            }
            while (await timer.WaitForNextTickAsync(_cts.Token));
        });
    }

    public void Dispose()
    {
        _cts.Cancel();
    }
}
