@inject IEnumerable<Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet> JavaScriptSnippets

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" type="image/png" href="favicon-x64.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["MihuBot.styles.css"]" />

    @foreach (var snippet in JavaScriptSnippets)
    {
        @((MarkupString)snippet.FullScript
            .Replace("https://eastus2-3.in.applicationinsights.azure.com/", "https://localhost/_appinsights-ingest", StringComparison.Ordinal)
            .Replace("https://eastus2.livediagnostics.monitor.azure.com/", "https://localhost/_appinsights-ingest-live", StringComparison.Ordinal))
    }

    <ImportMap />
    <HeadOutlet />
</head>

<body class="dark">
    <Routes />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <script>
        function addTooltips() {
            $('[data-toggle="tooltip"]').tooltip({
                trigger: 'hover'
            });
            $('[data-toggle="tooltip"]').on('mouseleave', function () {
                $(this).tooltip('hide');
            });
            $('[data-toggle="tooltip"]').on('click', function () {
                $(this).tooltip('dispose');
            });
        }
    </script>
</body>

</html>
