name: ci

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup .NET 6.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.100-preview.3.21202.5'

    - name: Dotnet restore
      run: dotnet restore MihuBot

    #- name: Dotnet build
    #  run: dotnet build MihuBot --no-restore

    #- name: Dotnet test
    #  run: dotnet test MihuBot

    - name: Dotnet publish
      run: dotnet publish MihuBot -c Release -r linux-x64 --self-contained true -p:PublishSingleFile=true -o artifacts

    - name: Zip artifacts
      run: zip -r artifacts.zip artifacts

    - name: Upload to VM
      run: "curl -X POST -H \"X-Run-Number: ${{ github.run_number }}\" -H \"X-Update-Token: ${{ secrets.UPDATE_TOKEN }}\" --data-binary @artifacts.zip \"https://${{ secrets.HOST }}/Management/Deployed\""

    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: publish-${{ github.run_number }}
        path: artifacts.zip