name: build-mihubot-storage

on:
  push:
    paths-ignore:
      - 'MihuBot/**'
      - '.github/workflows/deploy-mihubot.yml'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET 11.0
      run: |
        sudo apt install -y wget && \
        wget https://dot.net/v1/dotnet-install.sh -O dotnet-install.sh && \
        sudo chmod +x ./dotnet-install.sh && \
        #sudo ./dotnet-install.sh --channel 11.0 --quality daily --install-dir dotnet-latest && \
        sudo ./dotnet-install.sh --version 11.0.100-alpha.1.26062.101 --install-dir dotnet-latest && \
        dotnet-latest/dotnet --info

    - name: Dotnet restore
      run: dotnet-latest/dotnet restore StorageService

    - name: Dotnet publish
      run: dotnet-latest/dotnet publish StorageService -c Release -r linux-arm64 --self-contained true -p:PublishSingleFile=true -o artifacts -p:SourceRevisionId=${GITHUB_SHA}

    - name: Compress artifacts
      run: tar -cvzf artifacts.tar.gz artifacts

    - name: Upload to VM
      run: "curl -X POST -H \"X-Run-Number: ${{ github.run_number }}\" -H \"X-Update-Token: ${{ secrets.UPDATE_TOKEN }}\" --data-binary @artifacts.tar.gz \"https://storage.mihubot.xyz/Management/Deployed\""

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: publish-storage-${{ github.run_number }}
        path: artifacts.tar.gz
